@font-face {
    font-family: 'Commissioner';
    src: url('http://localhost:3992/assets/fonts/commissioner-v1.0/static/ttfs/Commissioner-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('http://localhost:3992/assets/fonts/commissioner-v1.0/static/ttfs/Commissioner-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}

/* Set up Commissioner for modern browsers, all weights */
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Commissioner';
        src:
            url('http://localhost:3992/assets/fonts/commissioner-v1.0/variable/Commissioner_VF_1.001.ttf') format('truetype'),
            url('http://localhost:3992/assets/fonts/commissioner-v1.0/variable/Commissioner_VF_1.001.ttf') format('truetype supports variations'),
            url('http://localhost:3992/assets/fonts/commissioner-v1.0/variable/Commissioner_VF_1.001.ttf') format('truetype-variations');
        font-weight: 100 1000;
        font-stretch: 25% 151%;
        font-display: swap;
    }
}

// // Bouygues Speak, titres
// @font-face {
//     font-family: 'Bouygues Speak';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src:
//         local('Bouygues Speak'),
//         url('http://localhost:3992/assets/fonts/bouygues-speak.woff2') format('woff2'),
//         url('http://localhost:3992/assets/fonts/bouygues-speak.woff') format('woff');
// }

// // Bouygues Read, textes
// @font-face {
//     font-family: 'Bouygues Read';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src:
//         url('http://localhost:3992/assets/fonts/bouygues-read-regular.woff2') format('woff2'),
//         url('http://localhost:3992/assets/fonts/bouygues-read-regular.woff') format('woff');
// }

// @font-face {
//     font-family: 'Bouygues Read';
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
//     src:
//         url('http://localhost:3992/assets/fonts/bouygues-read-medium.woff2') format('woff2'),
//         url('http://localhost:3992/assets/fonts/bouygues-read-medium.woff') format('woff');
// }

// @font-face {
//     font-family: 'Bouygues Read';
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
//     src:
//         url('http://localhost:3992/assets/fonts/bouygues-read-semibold.woff2') format('woff2'),
//         url('http://localhost:3992/assets/fonts/bouygues-read-semibold.woff') format('woff');
// }
