/* 
@import '../../node_modules/tailwindcss/base.css';
@import '../../node_modules/tailwindcss/components.css';
@import '../../node_modules/tailwindcss/utilities.css';
*/

/* @import "./modules/carjager"; */

/* @import  url('../../../domain-content/content/css/layered-argon-design-system-react.css'); */

/* 
! tailwindcss v3.3.3 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

html {
  font-family: var(--flex-font-family, Commissioner, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1800px;
  }
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.gap-4 {
  gap: 1rem;
}

.line-through {
  text-decoration-line: line-through;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

/* 
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/

/* 
The path you provide to the @config directive is relative to that CSS file,
and will take precedence over a path defined in your PostCSS configuration or in the Tailwind CLI.
*/

/* @config '../../tailwind.config.js'; */

/* TODO : Delete  */

/* @layer components {
  .search-input {
    @apply w-60 mb-5 block;
  }

  .carjager_whiteHover {
    color: var(--flex-link-inverse, #109db9) !important;
    z-index: 0;
    overflow: hidden;
  }

  .carjager_imgHover:after,
  .carjager_whiteHover:after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .carjager_whiteHover:hover {
    color: var(--flex-link-hover-inverse, #109db9) !important;
    cursor: pointer;
  }

  .carjager_whiteHover:hover:after {
    background-color: rgba(0,0,0,0.15);
  }

  .carjager_whiteHover:hover .carjager_moreCarsCardTitle {
    color: var(--flex-link-inverse, #109db9) !important;
    cursor: pointer;
  }

  .carjager_highLight {
    color: var(--flex-link-hover-inverse, #109db9) !important;
  }

  .carjager_highLightWhite > a { 
    color: #fff !important;
  }

  .carjager-btn.primary {
    background-color: var(--flex-link-hover-inverse, #109db9) !important;
  }

  .carjager-btn.secondary {
    background-color: #000 !important;
  }

  .carjager_bordered {
    border-color: transparent;
    border-width: 6px;
    border-radius: 3rem;
  }

  @media (min-width: 768px) {
    .carjager_bordered {
      border-width: 4px;
      border-radius: 1.5rem;
    }
  }

  @supports (font-size: clamp(3rem, calc(11vw+0.8rem), 8rem)) {
    .carjager_textHuge {
      font-size: clamp(3rem, calc(11vw+0.8rem), 8rem) !important;
    }
  }
}


@layer utilities {
  .grayed-out-disabled {
    @apply disabled:opacity-50;
  }

  .carjager_cardHeight,
  .carjager_moreCarsCardHeight,
  .carjager_sliderCardHeight {
    height: 12rem;
  }

  @media (min-width: 640px) {
    .carjager_cardHeight,
    .carjager_moreCarsCardHeight,
    .carjager_sliderCardHeight {
      height: 16rem;
    }
  }

  @media (min-width: 1024px) {
    .carjager_cardHeight {
      height: 19rem;
    }

    .carjager_moreCarsCardHeight {
      height: 24.1rem;
    }

    .carjager_sliderCardHeight {
      height: 19rem;
    }
  }

  .carjager_cardContent {
    padding: 1rem !important;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: flex-end;
    z-index: 2;
  }

  @media (min-width: 1024px) {
    .carjager_cardContent {
      background: #fff;
      z-index: 2;
    }
  }

  .carjager_cardTitle {
    width: 100%;
    display: flex;
    flex-grow: 1;
  }

  .carjager_cardTitle h1,
  .carjager_cardTitle h2 {
    width: 100%;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  
  .carjager_card .carjager_imgHover:after {
    background-color: rgba(150,150,150,0.1);
    z-index: 2;
  }

  .carjager_card:hover .carjager_imgHover:after {
    background-color: rgba(0,0,0,0);
  }


  .carjager_card img {
    opacity: 1;
    z-index: 1;
  }

  .carjager_moreCarsCardTitle {
    font-size: 1.5em !important;
    letter-spacing: 0.05em !important;
    line-height: 1.2em !important;
  }

  @supports (font-size: clamp(1rem, calc(3vw+0.8rem), 3rem)) {
    .carjager_moreCarsCardTitle {
        font-size: clamp(1rem, calc(3vw+0.8rem), 3rem) !important;
    }
  }

  .carjager_moreCarsCard .carjager_whiteHover:after {
    background-color: rgba(0,0,0,0.25);
  }

  .carjager_moreCarsCard:hover .carjager_whiteHover:after {
    background-color: rgba(0,0,0,0.15);
  }

  .carjager_cardPrice {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--flex-link-inverse, #109db9) !important;
  }

  @media (max-width: 1023px) {
    .carjager_cardPrice:before {
      content: '';
      position: absolute;
      border-bottom: 2px solid var(--flex-link-inverse, #109db9) !important;
      width: 20%;
      left: 10%;
      bottom: 1.6rem;
    } 
    .carjager_cardPrice:after {
      content: '';
      position: absolute;
      border-bottom: 2px solid var(--flex-link-inverse, #109db9) !important;
      width: 20%;
      right: 10%;
      bottom: 1.6rem;
    } 
  }

  @media (min-width: 1024px) {
    .carjager_cardPrice {
      min-width: auto;
      width: 50%;
      flex-wrap: nowrap;
      align-items: flex-end;
      padding: 0 0 0 1rem !important;
      color: unset !important;
    }

    .carjager_cardPrice:hover {
      color: unset !important;
    }
  }

  .carjager_cardHeaderHeight {
    height: auto;
  }

  .carjager_cardHeaderImg {
    height: 50vh !important;
  }

  .carjager_cardHeaderContent {
    margin-top: 38vh;
  }

  @media (max-width: 767px) {
    .carjager_cardHeaderContent {
      padding: 0 !important;
    }
  }

  .carjager-btn-logo {
    width: 25rem;
    height: 6rem !important;
    font-size: 0.8rem !important;
    position: relative;
  }

  @media (max-width: 767px) {
    .carjager-btn-logo {
      height: 10rem !important;
      border-width: 0 !important;
      border-radius: 0 !important;
    }
  }

  .carjager-btn-logo:hover {
    font-size: 0.85rem !important;
    transition: font-size 100ms bezier;
  }

  .carjager-btn-logo.buy {
    color: #fff;
    background-color: black;
  }

  .carjager-btn-logo.buy #carjager_logo_buy {
    width: 4.5rem;
    fill: #fff;
  }

  .carjager-btn-logo.sell {
    color: #fff;
    background-color: var(--flex-link-hover-inverse);
  }

  .carjager-btn-logo.sell #carjager_logo_sell {
    width: 3.8rem;
    fill: #fff;
  }

  .carjager_selectedCar {
    width: auto;
    min-height: calc(100vh - 40rem);
  }

  .carjager_selectedCarCard {
    width: auto;
    min-height: 40vh;
  }

  @media (min-width: 768px) {
    .carjager_selectedCarCard {
      min-height: 60vh;
    }
  }

  .details_Characteristics {
    border-color: #000;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    .details_Characteristics {
    }

    .details_Characteristics_columnDivider {
      position: relative;
    }

    .details_Characteristics_columnDivider:after {
      content: '';
      position: absolute;
      border-left: 2px solid black;
      right: -50px;
      height: 82%;
      top: 10%;
    } 
  }

  .details_Contacts {
    border-color: #000;
  }

  .carjager_imageListImgHeightTall,
  .carjager_imageListImgHeightBig {
    overflow: hidden;
    height: calc(100vw / 2);
    border-radius: 2rem;
  }

  .carjager_imageListImgHeightNormal {
    overflow: hidden;
    height: calc(100vw / 2 / 2);
    border-radius: 2rem;
  }

  @media (min-width: 768px) {
    .carjager_imageListImgHeightTall,
    .carjager_imageListImgHeightBig {
      height: calc(100vw / 4);
    }

    .carjager_imageListImgHeightNormal {
      height: calc(100vw / 4 / 2);
    }
  }

  .imageListImgLast .carjager_whiteHover:after {
    background-color: rgba(0,0,0,0.4);
  }

  .imageListImgLast:hover .carjager_whiteHover:after {
    background-color: rgba(0,0,0,0.25);
  }

  .MoreArticles .carjager_sliderCardHeight img {
    padding: 1rem;
    border-width: 4px;
    border-radius: 1.5rem;
  }
} */
