@font-face {
    font-family: 'flexi-ui';
    src: url('http://localhost:3992/assets/fonts/flexi-ui.woff2') format('woff2'), url('http://localhost:3992/assets/fonts/flexi-ui.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

.icon [class^="flexi-ui-"]::before,
.icon [class*=" flexi-ui-"]::before {
    font-family: flexi-ui;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flexi-ui-arrow-down::before {
    content: "\f101";
}

.flexi-ui-check::before {
    content: "\f102";
}

.flexi-ui-times-r::before {
    content: "\f103";
}

.flexi-ui-plus::before {
    content: "\f104";
}

.flexi-ui-arrow-up::before {
    content: "\f105";
}

.flexi-ui-logo::before {
    content: "\f106";
}

.flexi-ui-arrow-right::before {
    content: "\f107";
}

.flexi-ui-arrow-left::before {
    content: "\f108";
}

.flexi-ui-arrow-down-r::before {
    content: "\f109";
}

.flexi-ui-arrow-left-r::before {
    content: "\f10a";
}

.flexi-ui-arrow-right-r::before {
    content: "\f10b";
}

.flexi-ui-arrow-up-r::before {
    content: "\f10c";
}

.flexi-ui-bell::before {
    content: "\f10d";
}

.flexi-ui-check-circle-s::before {
    content: "\f10e";
}

.flexi-ui-check-circle::before {
    content: "\f10f";
}

.flexi-ui-check-r::before {
    content: "\f110";
}

.flexi-ui-download::before {
    content: "\f111";
}

.flexi-ui-envelope::before {
    content: "\f112";
}

.flexi-ui-exclamation-circle-s::before {
    content: "\f113";
}

.flexi-ui-exclamation-circle::before {
    content: "\f114";
}

.flexi-ui-exclamation-r::before {
    content: "\f115";
}

.flexi-ui-exclamation::before {
    content: "\f116";
}

.flexi-ui-eye-s::before {
    content: "\f117";
}

.flexi-ui-eye-slash-s::before {
    content: "\f118";
}

.flexi-ui-eye-slash::before {
    content: "\f119";
}

.flexi-ui-eye::before {
    content: "\f11a";
}

.flexi-ui-home::before {
    content: "\f11b";
}

.flexi-ui-info-circle-r::before {
    content: "\f11c";
}

.flexi-ui-info-circle::before {
    content: "\f11d";
}

.flexi-ui-info::before {
    content: "\f11e";
}

.flexi-ui-marker-s::before {
    content: "\f11f";
}

.flexi-ui-marker::before {
    content: "\f120";
}

.flexi-ui-menu::before {
    content: "\f121";
}

.flexi-ui-minus-circle::before {
    content: "\f122";
}

.flexi-ui-minus::before {
    content: "\f123";
}

.flexi-ui-pause-s::before {
    content: "\f124";
}

.flexi-ui-pencil-s::before {
    content: "\f125";
}

.flexi-ui-pencil::before {
    content: "\f126";
}

.flexi-ui-play-s::before {
    content: "\f127";
}

.flexi-ui-plus-circle-r::before {
    content: "\f128";
}

.flexi-ui-plus-circle-s::before {
    content: "\f129";
}

.flexi-ui-plus-circle::before {
    content: "\f12a";
}

.flexi-ui-plus-r::before {
    content: "\f12b";
}

.flexi-ui-power::before {
    content: "\f12c";
}

.flexi-ui-question-circle-r::before {
    content: "\f12d";
}

.flexi-ui-question-circle::before {
    content: "\f12e";
}

.flexi-ui-question::before {
    content: "\f12f";
}

.flexi-ui-relais-colis-express::before {
    content: "\f130";
}

.flexi-ui-search-r::before {
    content: "\f131";
}

.flexi-ui-search::before {
    content: "\f132";
}

.flexi-ui-shopping-bag::before {
    content: "\f133";
}

.flexi-ui-shopping-cart::before {
    content: "\f134";
}

.flexi-ui-sliders::before {
    content: "\f135";
}

.flexi-ui-star-half::before {
    content: "\f136";
}

.flexi-ui-star-s::before {
    content: "\f137";
}

.flexi-ui-star::before {
    content: "\f138";
}

.flexi-ui-times-circle-r::before {
    content: "\f139";
}

.flexi-ui-times-circle-s::before {
    content: "\f13a";
}

.flexi-ui-times-circle::before {
    content: "\f13b";
}

.flexi-ui-times::before {
    content: "\f13c";
}

.flexi-ui-trash-s::before {
    content: "\f13d";
}

.flexi-ui-trash::before {
    content: "\f13e";
}

.flexi-ui-upload::before {
    content: "\f13f";
}

.flexi-ui-user::before {
    content: "\f140";
}

